1000 ICON "saper.ico"

1001 MENU
{
	POPUP "&Game"
	{
		MENUITEM "&New\tF2", 1002
			MENUITEM SEPARATOR
		MENUITEM "&Beginner", 1003, CHECKED
		MENUITEM "&Intermediate", 1004
		MENUITEM "&Expert", 1005
		MENUITEM "&Custom...", 1006
			MENUITEM SEPARATOR
		MENUITEM "&High Scores...", 1007
			MENUITEM SEPARATOR
		MENUITEM "&Exit", 1008
	}
	POPUP "&Help"
	{
		MENUITEM "&About", 1009
	}
}