1000 MENU
{
	POPUP "&Game"
	{
		MENUITEM "&New\tF2", 1001
			MENUITEM SEPARATOR
		MENUITEM "&Beginner", 1002, CHECKED
		MENUITEM "&Intermediate", 1003
		MENUITEM "&Expert", 1004
		MENUITEM "&Custom...", 1005
			MENUITEM SEPARATOR
		MENUITEM "&High Scores...", 1006
			MENUITEM SEPARATOR
		MENUITEM "&Exit", 1007
	}
	POPUP "&Help"
	{
		MENUITEM "&About", 1008
	}
}